name: Datascience Image CI

on: # Only manual runs because the idea is to have multiple images and choose what to build.
  workflow_dispatch:
    inputs:
      image:
        type: choice
        description: Image to build
        default: datascience
        options: 
        - datascience
        - net-datascience
        - rust-datascience
        - latex

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Set Docker Tag
      id: docker-tag
      run: |
        if [[ "${GITHUB_REF_TYPE}" == "tag" ]]; then
          echo "TAG=${GITHUB_REF_NAME}" >> $GITHUB_ENV
        else
          echo "TAG=latest" >> $GITHUB_ENV
        fi

    - name: Log in to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    
    - name: Build the Docker image
      run: docker build . --file ${{ github.event.inputs.image }}.docker --tag ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.inputs.image }}:${{ env.TAG }}

    - name: Push Docker Image
      run: |
        docker push ${{ secrets.DOCKERHUB_USERNAME }}/${{ github.event.inputs.image }}:${{ env.TAG }}
